{% extends 'website/components/base.html' %}
{% block title %} Register {% endblock %}
{% block body %}
{% load static %}
{% load humanize %}
{% load myanmar_number %}
  <div class="auth-wrapper">
  <div class="auth-card" id="authCard">

    <div class="auth-inner">

      <!-- REGISTER -->
      <div class="auth-face front">
        <h4 class="text-center mb-4 fw-bold">Register</h4>

        <form method="POST" action="{{website_register_url}}">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter username">
          </div>

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email">
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter password">
          </div>

          <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password">
          </div>

          <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>

        <p class="text-center mt-3 mb-0">
          Don’t have an account?
          <a href="{% url 'website_login' %}" id="showLogin">Login</a>
        </p>
      </div>

    </div>
  </div>
</div>

{% endblock %}