{% load translate %}
{% load static %}

<div class="modal-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">{% translate 'account_name' request.session.language %}</label>
                <input type="file" name="logo" value="{{payment_method.logo}}" required class="form-control">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">{% translate 'account_name' request.session.language %}</label>
                <input type="text" name="account_name" value="{{payment_method.account_name}}" required class="form-control">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3">
                <label class="form-label">{% translate 'account_holder_name' request.session.language %}</label>
                <input type="text" name="holder_name" value="{{payment_method.holder_name}}" required class="form-control">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3">
                <label class="form-label">{% translate 'account_phone' request.session.language %}</label>
                <input type="tel" name="account_phone" value="{{payment_method.account_phone}}" required class="form-control">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3">
                <label class="form-label">{% translate 'account_number' request.session.language %}</label>
                <input type="number" name="account_number" value="{{payment_method.account_number}}" required class="form-control">
            </div>
        </div>
    </div>
</div>