{% load translate %}
<div class="row">
    <div class="col-lg-12">
        <div class="mb-3">
            <label class="form-label">{% translate 'user' request.session.language %}</label>
            <select class="form-control select" name="user">
                <option value="">{% translate 'global_reward' request.session.language %}</option>
                {% for user in users %}
                <option value="{{user.id}}" {% if reward.user.id == user.id %}selected{% endif %}>{{user.username}} ({{user.email}})</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="mb-3">
            <label class="form-label">{% translate 'start_date' request.session.language %} <span class="text-danger">*</span></label>
            <input type="datetime-local" name="start_date" required class="form-control" value="{% if reward %}{{ reward.start_date|date:'Y-m-dTH:i' }}{% endif %}">
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="mb-3">
            <label class="form-label">{% translate 'end_date' request.session.language %} <span class="text-danger">*</span></label>
            <input type="datetime-local" name="end_date" required class="form-control" value="{% if reward %}{{ reward.end_date|date:'Y-m-dTH:i' }}{% endif %}">
        </div>
    </div>
    <div class="col-lg-12">
        <div class="mb-3">
            <label class="form-label">{% translate 'amount' request.session.language %} (Gems) <span class="text-danger">*</span></label>
            <input type="number" name="amount" min="1" required class="form-control" placeholder="Enter gem amount" value="{% if reward %}{{reward.amount}}{% endif %}">
        </div>
    </div>
</div>
