{% extends 'dashboard/components/base.html' %}

{% load translate %}
{% block title %}{% translate 'users' request.session.language %}{% endblock %}
{% load static %}
{% block body %}
{% load humanize %}
{% load myanmar_number %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">   
            <div class="add-item d-flex">
                <div class="page-title">
                    <h4 class="fw-bold">{% translate 'users' request.session.language %}</h4>
                    <h6>{% translate 'manage_your_users' request.session.language %}</h6>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row">
                    {% include 'dashboard/components/search.html' %}
                    {% include 'dashboard/components/date_filter.html' %}
                    {% include 'dashboard/components/entries.html' %}
                </div>
            </div>
            <div class="p-0 card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>{% translate 'table_no' request.session.language %}</th>
                                <th>{% translate 'name' request.session.language %}</th>
                                <th>{% translate 'email' request.session.language %}</th>
                                <th>{% translate 'transitation_id' request.session.language %}</th>
                                <th>{% translate 'novel' request.session.language %}</th>
                                <th>{% translate 'promotion_diamond' request.session.language %}</th>
                                <th>{% translate 'paid_diamond' request.session.language %}</th>
                                <th class="text-center">{% translate 'date' request.session.language %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);" class="avatar avatar-md me-2">
                                            <img src="{% if user.profile %}{{user.profile.url}}{% else %}{% static 'dashboard/images/no-profile.png' %}{% endif %}"
                                                alt="{{user.username}}">
                                        </a>
                                        <a href="javascript:void(0);">{% translate user.translation_key request.session.language %}</a>
                                    </div>
                                </td>
                                <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                                <td>TXN-32D220515777</td>
                                <td>
                                    Novel Name
                                </td>
                                <td>100</td>
                                <td>20</td>
                                
                                <td>23.7.2026</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% include 'dashboard/components/pagination.html' %}
        </div>
    </div>
    {% include 'dashboard/components/footer.html' %}
</div>
{% endblock %}